.navs {
    a{
        display: inline-block;
        margin: 10px;
        padding: 10px 20px;
        background-color: #CCC;
        color: #EEE;
    }
    .nav-active {
        color: #b96fde;
        background: bisque;
    }
}